@import "./mixins.scss";
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Raleway&display=swap');

  /*--------------------
  Body
  --------------------*/
  html,
  body {
    height: 100%;
    background-color: #111;
    background-image: radial-gradient(#333, #111);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    width: 100vw;
    font-family: 'Raleway', sans-serif;
  }

  /*--------------------
  Player
  --------------------*/
  .video-player {
    .player {
      width: 100%;
      margin: 0 auto;
      border-radius: 8px;

    }

    video {
      box-shadow: 0 0 1em black;
    }

    h1 {
      font-family: 'Permanent Marker', cursive;
      font-size: 50px;
    }

    button {
      background-color: transparent; 
      border-radius: 5px;
      font-size: 20px;
      color: #fff; 
      border: 2px solid #008CBA;
    }
    
    button:hover {
      background-color: #008CBA;
      color: white;
      cursor: pointer;
    }
  }
  
  
  /*--------------------
  Controls
  --------------------*/
  #controls {
    background: #281732;
    border-radius: 8px;
    margin: 10px;
    position: relative;
    padding: 15px;
    text-align: left;
  
    .button {
      width: 30px;
      height: 30px;
      flex: 0;
  
      & button {
        width: 30px;
        height: 30px;
        background: none;
        border: none;
        cursor: pointer;
        outline: none!important;
        color: #d7ad49;
        transition: all .3s ease-in;
  
        &:hover {
          color: #fff;
        }
  
        &::before {
  
          display: inline-block;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
        }
      }
    }
    
    #toggle {
      width: 100px;
      margin-right: 10px;
      display: inline-block;
    }
    
    #progressBar {
      width: 90%;
      display: inline-block;
      div {
        height: 10px;
        z-index: 1;
        border-radius: 5px;
        box-shadow: inset -3px 2px 7px rgba(255,255,255,.28);
        background-image: linear-gradient(to right, #6f63ef, #ec507a 49%, #ffee7b);
      }
    }
    
  }

