@import "../mixins.scss";
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Raleway&display=swap');

  /*--------------------
  App
  --------------------*/

  html {
    height: 100%;
  }
  body {
    @include background-colour;
    color: $white;
    height: 100%;
    text-align: center;
    width: 100vw;
}
